@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #000;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*=============ОБНУЛЕНИЕ СТИЛЕЙ=============*/
.header__link{
	display: flex;
	justify-content: center;
}

.link{
	padding-right: 50px;
	display: flex;
	justify-content: center;
	margin:20px 0;
	color: DeepPink;
	font-size: 50px;
}

.content{
	display: flex;
	justify-content: center;
	
}

.media-object{
	max-width: 200px;
	max-height: 133px;
}

.media {

	flex: 0 0 50%;
	display: flex;
	margin: 0 30px;
	background-color: LightBlue;
}

.media-object{
	max-width: 200px;
	max-height: 133px;
}

.media-body {
	flex: 1;
	background-color: LightBlue;
}

.media-heading{
	background-color: Pink;
	padding: 12px;
	display: flex;
	justify-content: center;
}

.text{
	padding: 15px;
}